.container{
    margin: auto;
    text-align: center;
}

body{
    background-color: 
}

h1{
    color: skyblue;
}

input{
    display: block;
    margin: auto;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0.4rem;
}

input:focus{
    outline: 0ch;
    background-color: lightgray;
}

button{
    margin-top: 1rem;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
    background-color: skyblue;
    color: aliceblue;

}
